.back-button {
    padding: 4px 12px 4px 12px;
    color: rgb(32, 31, 31);
    background-color: dodgerblue;
    border: none;
    border-radius: 4px;
  }

  .movie-view-img {
    width: 80%;
    height: 100%;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }